[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "pack/language/syntastic"]
	path = pack/language/start/syntastic/
	url = https://github.com/scrooloose/syntastic
[submodule "pack/language/flavored-markdown"]
	path = pack/language/start/flavored-markdown/
	url = https://github.com/jtratner/vim-flavored-markdown
[submodule ".tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/starter
