[submodule "pack/integrations/start/nerdtree"]
	path = pack/integrations/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/integrations/start/fugitive"]
	path = pack/integrations/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/integrations/start/ack"]
	path = pack/integrations/start/ack
	url = https://github.com/mileszs/ack.vim
[submodule "pack/interface/start/ctrlp"]
	path = pack/interface/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/interface/start/tabular"]
	path = pack/interface/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/interface/start/airline"]
	path = pack/interface/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/completion/start/delimitmate"]
	path = pack/completion/start/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "pack/completion/start/supertab"]
	path = pack/completion/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/completion/start/endwise"]
	path = pack/completion/start/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/completion/start/deoplete"]
	path = pack/completion/start/deoplete
	url = https://github.com/shougo/deoplete.nvim
[submodule "pack/completion/start/surround"]
	path = pack/completion/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/code/start/vim-colors-solarized"]
	path = pack/code/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/code/start/indent-guides"]
	path = pack/code/start/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "pack/code/start/base16"]
	path = pack/code/start/base16
	url = https://github.com/chriskempson/base16-vim
